.block1 {
  float: left;
  width: 1154px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block2{
  float: right;
  width: 94px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block3{
  float: left;
  width: 1048px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block4{
  float: right;
  width: 200px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block5{
  float: left;
  width: 942px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block6{
  float: right;
  width: 306px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block7{
  float: left;
  width: 836px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block8{
  float: right;
  width: 412px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block9{
  float: left;
  width: 730px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block10{
  float: right;
  width: 518px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block11{
  float: left;
  width: 624px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
  margin-bottom: 71px;
}
.block12{
  float: right;
  width: 624px;
  height: 48px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
  margin-bottom: 71px;
}
.block13{
  float: left;
  width: 1144px;
  height: 48px;
  margin-bottom: 20px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block14{
  float: right;
  width: 84px;
  height: 48px;
  margin-bottom: 20px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block15{
  float: left;
  width: 1039px;
  height: 48px;
  margin-bottom: 20px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block16{
  float: right;
  width: 190px;
  height: 48px;
  margin-bottom: 20px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block17{
  float: left;
  width: 932px;
  height: 48px;
  margin-bottom: 20px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block18{
  float: right;
  width: 296px;
  height: 48px;
  margin-bottom: 20px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block19{
  float: left;
  width: 826px;
  height: 48px;
  margin-bottom: 20px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block20{
  float: right;
  width: 402px;
  height: 48px;
  margin-bottom: 20px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block21{
  float: left;
  width: 720px;
  height: 48px;
  margin-bottom: 20px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block22{
  float: right;
  width: 508px;
  height: 48px;
  margin-bottom: 20px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block23{
  float: left;
  width: 614px;
  height: 48px;
  margin-bottom: 60px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}
.block24{
  float: right;
  width: 614px;
  height: 48px;
  margin-bottom: 60px;
  background: #c3c3c3;
  border: 1px solid #9f9f9f;
}